body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    padding: 30px;
}

img{
    width: 100%;
    border-radius: 4px;
} 

/* header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#logo{
    width: 200px;
}

nav ul li{
    list-style: none;
    padding-left: 10px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700px;
}

/* packaging */
.mock-up{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.packaging .wrapper{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    grid-template-areas: 
    
    "img1 img1 img1"
    "img2 img3 img4"
}

.packaging img:nth-child(1){
    grid-area: img1;    
}

/* description */

.description h3 p {
    margin: 0;
}

.description article{
    padding-bottom: 40px;
    
}

h1{
    font-size: 2.027rem;
    font-weight: 500;
}

h3{
    text-transform: uppercase;
    margin-bottom: 0;
}

.description a:link,
.description a:visited {
  display: inline-block;
  padding: .3em 1em;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 5px;
  margin-top: auto;
  font-weight: 600;
  
}

#history h2,
#reviews h2,
#prices h2{
    text-align: center;
    font-size: 1.802rem;
}

#history{
    background-color: #ebe9dc;
    padding: 20px;
    margin: 0 -30px 0 -30px;
}


#reviews{
    background-color: #000;
    color: #fff;
    padding: 20px;  
    margin: 0 -30px 0 -30px;

}

.quotes article{
    padding-bottom: 55px;
}

blockquote{
   margin-left: 0;
}

/* prices */

.choices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 2em;
} 

#prices article{
    background-color: #ebe9dc;
    text-align: center;
    border-radius: 10px;
}

#prices article img{
    background-color: #ebe9dc;
    border-radius: 8px 8px 0 0;
}

#prices a{
    text-decoration: none;
    color: #000;
}

#prices p {
    margin-top: 0;
}

/* footer */

footer{
    background-color: #000;
    color: #fff; 
    margin: 0 -30px 0 -30px;
    
    
}

footer .wrapper{
    padding: 1rem 1.125rem;
    text-align: center;
    
    
}


 @media (min-width:48em){

    .story-text{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    
   .quotes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding-left: 40px;
    
    }

    .choices {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

@media (min-width:60em){

    .two-articles{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .mock-up{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

     .packaging .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        grid-template-areas: 
            "img1 img2"
            "img3 img4"
        }
        
    }

    .packaging,
    .description{
        padding-bottom: 30px;
        
    }

    @media (min-width:75em){

        body{
            padding: 0 150px 0 150px;
            
        }

        #history,
        #reviews,
        footer{
            margin: 0 -150px 0 -150px;
        }

        #history,
        #reviews{
            padding: 10px 80px 10px 80px;

        }



    }